<div class="container">
    <h1>Worlds Best!</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="imgAbt">
                <img width="220" height="220" src="https://muttidolls.files.wordpress.com/2012/08/worlds-best-views04.jpg" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Lots of destinations here...With the grids of destinations available you're bound attractions of respective destinations, your attractions contains comments and pictures by other user. The simplicity of our web application secured us the title
                of World's Best!</p>
        </div>
    </div>
</div>