<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Create a New User!</h1>
            <div class="account-wall">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" autofocus required>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" required>
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" required>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                    <input type="password" class="form-control" placeholder="ConfirmPassword" formControlName="confirmPassword" required>
                    <span *ngIf="form.errors?.mismatchedFields">Passwords do not match</span>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                      Sign Up</button>
                    <!-- <label class="checkbox pull-left">
                      <input type="checkbox" value="remember-me">
                      Remember me
                  </label> -->
                    <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
            <a routerLink="/login" class="text-center new-account">Login to Continue </a>
        </div>
    </div>
</div>